/*
 * Estilos del Modo Oscuro
 * Autor: Orlando José-Rivera
 * Sitio web: https://simplicitytree.com
 * Fecha de creación: 12 de agosto de 2024
 * Licencia: MIT
 *
 * Este archivo contiene los estilos específicos para activar 
 * y aplicar el modo oscuro en el sitio web.
 */

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  body.dark-mode #navbar {
    background-color: #1e1e1e;
    border-bottom: 1px solid #444;
  }
  
  body.dark-mode #main-nav li a {
    color: #ffffff;
  }

  body.dark-mode #main-nav li a:hover {
    color: #adadad;
  }
  
  body.dark-mode #seccion1, body.dark-mode article section:nth-child(2), body.dark-mode article section:nth-child(3), body.dark-mode article section:nth-child(4), footer {
    background-color: #212121;
  }

  body.dark-mode #portafolio {
    background-color: transparent;
    border: 1px solid #fff;
  }

  body.dark-mode #portafolio:hover {
    background-color: #ececec;
    color: #000;
  }

  body.dark-mode #socialmedia a {
    color: #fff;
  }

  body.dark-mode input[type="submit"] {
    background-color: #ffffff;
    color: #000;
  }

  body.dark-mode input[type="submit"]:hover{
    background-color: #d0d0d0;
    color: #000;
  }
