/* ESTILOS GENERALES */
html, body {
  height: 100%
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.09rem
}
  /* Modificar el modelo de cajas de CSS */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit
}
/* Resetear márgenes y padding */
* {
  margin: 0;
  padding: 0
}
/* Centrar elementos en pantalla */
.container {
  width: 90%;
  max-width: 1366px;
  margin: 0 auto
}

h2 {
	font-size: 3rem;
	margin: 0 0 40px;
}

/* BARRA DE NAVEGACIÓN */
#logotipo {
	font-size: 2.5rem;
	text-decoration: none;
	font-weight: bold;
	color: red;
}

#navbar {
	background-color: #ffffff;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

#navigation {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
}

#navigation a img {
    width: 195px;
    margin: 14px 0 0;
}

#main-nav {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
list-style: none;
font-family: 'Lato', sans-serif;
}

#main-nav li a {
    color: #000000;
    text-decoration: none;
    padding: 0dvb 0.9em 0;
    display: inline-block;
    font-size: 1.15rem;
}

#main-nav li a:hover {
	color: #ff0000;
}

/* Seccion 1 */
#seccion1 {
	height: 500px;
	padding: 60px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #fff9d7;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

#seccion1 h1 {
	font-size: 8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}

#seccion1 p {
	font-size: 2rem;
}

#portafolio {
	background-color: #d94444;
	color: #fff;
	padding: 12px;
	text-decoration: none;
	margin: 12px auto 30px;
	display: inline-block;
}

#portafolio:hover {
	background-color: #ee5c5c;
}

/* Seccion 2 */
#seccion2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 49px auto;
  padding: 49px 0;
}

p {
	margin: 20px auto;
	line-height: 1.8;
}

img {
	width: 50%;
	max-width: 800px;
	height: 556px;
}

#socialmedia h3 {
	margin: 30px 0;
}

#socialmedia a {
	display: block;
	line-height: 2;
	text-decoration: none;
	color: #000;
}

/* Seccion 3 */
article section:nth-child(3){
  background-color:#f8f8f8;
}

#seccion3 {
	padding: 49px 0;
}

/* Seccion 4 */
#seccion4 {
	margin: 49px auto;
}

label{
  display: block;
  margin: 12px 0;
}

input[type=text], input[type=email] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea{
  width: 100%;
  height: 400px;
  margin: 12px 0;
}

input[type="submit"] {
	width: 15%;
	background-color: #04AA6D;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1.12rem;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Pie de página */
footer {
	border-top: 1px solid #ccc;
	padding: 20px 0;
	margin: 120px 0 0;
	background-color: #000;
	color: #fff;
  text-align: center;
}

/* Toggle switch */
.toggle-container {
  position: relative;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin: 0 auto;
}

.toggle-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.toggle-switch {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #000000;
}

.toggle-checkbox:checked + .toggle-label .toggle-switch {
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
}

/* Media Queries para móviles */
@media (max-width: 767px) {
  #navbar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
  }

  #main-nav {
      display: none; /* Oculta el menú principal por defecto */
  }

  #main-nav.open {
      display: block; /* Muestra el menú principal al activarlo */
  }

  .toggle-container {
      margin-bottom: 10px; /* Espaciado adicional para los toggles */
  }

  /* Sección 1 */
  #seccion1 {
      text-align: center;
  }

  #seccion1 h1 {
      font-size: 4rem; /* Tamaño de fuente ajustado para móviles */
  }

  #seccion1 p {
      font-size: 1.2rem; /* Tamaño de texto para descriptor */
  }

  /* Sección 2 y 3 */
  #seccion2, #seccion3 {
      padding: 10px; /* Espaciado más pequeño */
  }

  #seccion2 img {
     display: none;
  }

  #seccion3 h3 {
      font-size: 18px; /* Tamaño de fuente para subtítulos */
  }

  input[type="submit"] {
      width: 100%;
  }
}

/* Media Queries para tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
  #navbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }

  #main-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; /* Muestra el menú principal en tabletas */
  }

  #main-nav li {
      margin: 0 15px; /* Espaciado entre elementos de menú */
  }

  /* Sección 1 */
  #seccion1 h1 {
      font-size: 6rem; /* Tamaño de fuente ajustado para tabletas */
  }

  #seccion1 p {
      font-size: 1.8rem; /* Tamaño de texto para descriptor */
  }

  /* Sección 2, 3 y 4 */
  #seccion2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; /* Alinea el contenido horizontalmente */
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; /* Espaciado entre elementos */
      padding: 20px; /* Espaciado estándar para tabletas */
  }

  #seccion2 div {
      width: 50%;
  }

  #seccion2 img {
      max-width: 40%; /* Ajusta el tamaño en tabletas */
      height: 365px;
  }

  #seccion3 h3 {
      font-size: 20px; /* Tamaño de fuente para subtítulos */
  }

  input[type="submit"] {
      width: 100%;
  }
  
}
